framework: net8.0
source https://api.nuget.org/v3/index.json

nuget Microsoft.Extensions.Configuration.FileExtensions 8.0.0
nuget Microsoft.Extensions.Configuration.Json 8.0.0
nuget Microsoft.Extensions.Configuration.EnvironmentVariables 8.0.0
nuget Microsoft.Extensions.Configuration.Binder 8.0.0

nuget Be.Vlaanderen.Basisregisters.Grb.Building.Api.Abstractions 2.0.0
nuget Be.Vlaanderen.Basisregisters.TicketingService.Abstractions 2.0.0
nuget Be.Vlaanderen.Basisregisters.TicketingService.Proxy.HttpProxy 2.0.0
nuget Flurl 4.0.0
nuget IdentityModel 6.2.0

nuget CsvHelper 32.0.1

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.1.0
nuget Be.Vlaanderen.Basisregisters.Testing.Infrastructure.Events 4.0.0 content: true, copy_content_to_output_dir: always, copy_local: true

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 17.9.0
nuget xunit 2.7.0
nuget xunit.runner.visualstudio 2.5.7

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
