@page "/grb"

<h3>Grb</h3>

@if (!JobsLoaded)
{
  <p>
    <em>Loading...</em>
  </p>
}
else
{
  <Grid Items="Jobs" class="table table-bordered">
    <GridColumn TRowData="Job" Expression="c => c.Created" />
  </Grid>
}
