@page "/"

<PageTitle>Index</PageTitle>


<a href="https://p.datadoghq.com/sb/7875b22a9-f0c85cb14225688dd83e476dbcb49f4e" target="_blank" class="btn btn-primary">View dashboard</a>
<iframe
  display: inline-block;
  width="100%"
  height="600px"
  src="https://p.datadoghq.com/sb/7875b22a9-f0c85cb14225688dd83e476dbcb49f4e" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
